In [3]:
##  Here's a playground to help you get a little more comfortable using DB API
##  Nothing here is graded, you've done a ton of work so far and I think 
##  it'd be great to relax and play a bit!

##  Connect to the Chinook database and try a few of your own ideas.
##  This is also a great place to try experiments building queries 
##  for the next few quizzes!

import sqlite3

# Fetch records from either chinook.db
db = sqlite3.connect("chinook.db")
c = db.cursor()
QUERY = "SELECT * FROM Invoice WHERE BillingCountry='Germany';"
c.execute(QUERY)
rows = c.fetchall()

'''Uncomment to see your query in python'''
#print "Row data:"
#print rows

'''Uncomment to print your query by row'''
print "your output:"
for row in rows:
    print "  ", row[0:]

'''Uncomment to see your query as a pandas dataframe.
This is similar to the output you've been seeing throughout this course
You can learn more about pandas dataframes in our Intro to Data Analysis course!'''

#import pandas as pd    
#df = pd.DataFrame(rows)
#print df

db.close()

your output:
   (1, 2, u'2009-01-01 00:00:00', u'Theodor-Heuss-Stra\xdfe 34', u'Stuttgart', None, u'Germany', u'70174', 1.98)
   (6, 37, u'2009-01-19 00:00:00', u'Berger Stra\xdfe 10', u'Frankfurt', None, u'Germany', u'60316', 0.99)
   (7, 38, u'2009-02-01 00:00:00', u'Barbarossastra\xdfe 19', u'Berlin', None, u'Germany', u'10779', 1.98)
   (12, 2, u'2009-02-11 00:00:00', u'Theodor-Heuss-Stra\xdfe 34', u'Stuttgart', None, u'Germany', u'70174', 13.86)
   (29, 36, u'2009-05-05 00:00:00', u'Tauentzienstra\xdfe 8', u'Berlin', None, u'Germany', u'10789', 1.98)
   (30, 38, u'2009-05-06 00:00:00', u'Barbarossastra\xdfe 19', u'Berlin', None, u'Germany', u'10779', 3.96)
   (40, 36, u'2009-06-15 00:00:00', u'Tauentzienstra\xdfe 8', u'Berlin', None, u'Germany', u'10789', 13.86)
   (52, 38, u'2009-08-08 00:00:00', u'Barbarossastra\xdfe 19', u'Berlin', None, u'Germany', u'10779', 5.94)
   (67, 2, u'2009-10-12 00:00:00', u'Theodor-Heuss-Stra\xdfe 34', u'Stuttgart', None, u'Germany', u'70174', 8.91)
   (95, 36, u'2010-02-13 00:00:00', u'Tauentzienstra\xdfe 8', u'Berlin', None, u'Germany', u'10789', 8.91)
   (104, 38, u'2010-03-29 00:00:00', u'Barbarossastra\xdfe 19', u'Berlin', None, u'Germany', u'10779', 0.99)
   (127, 37, u'2010-07-13 00:00:00', u'Berger Stra\xdfe 10', u'Frankfurt', None, u'Germany', u'60316', 1.98)
   (138, 37, u'2010-08-23 00:00:00', u'Berger Stra\xdfe 10', u'Frankfurt', None, u'Germany', u'60316', 13.86)
   (193, 37, u'2011-04-23 00:00:00', u'Berger Stra\xdfe 10', u'Frankfurt', None, u'Germany', u'60316', 14.91)
   (196, 2, u'2011-05-19 00:00:00', u'Theodor-Heuss-Stra\xdfe 34', u'Stuttgart', None, u'Germany', u'70174', 1.98)
   (219, 2, u'2011-08-21 00:00:00', u'Theodor-Heuss-Stra\xdfe 34', u'Stuttgart', None, u'Germany', u'70174', 3.96)
   (224, 36, u'2011-09-20 00:00:00', u'Tauentzienstra\xdfe 8', u'Berlin', None, u'Germany', u'10789', 1.98)
   (225, 38, u'2011-09-20 00:00:00', u'Barbarossastra\xdfe 19', u'Berlin', None, u'Germany', u'10779', 1.98)
   (236, 38, u'2011-10-31 00:00:00', u'Barbarossastra\xdfe 19', u'Berlin', None, u'Germany', u'10779', 13.86)
   (241, 2, u'2011-11-23 00:00:00', u'Theodor-Heuss-Stra\xdfe 34', u'Stuttgart', None, u'Germany', u'70174', 5.94)
   (247, 36, u'2011-12-23 00:00:00', u'Tauentzienstra\xdfe 8', u'Berlin', None, u'Germany', u'10789', 3.96)
   (269, 36, u'2012-03-26 00:00:00', u'Tauentzienstra\xdfe 8', u'Berlin', None, u'Germany', u'10789', 5.94)
   (291, 38, u'2012-06-30 00:00:00', u'Barbarossastra\xdfe 19', u'Berlin', None, u'Germany', u'10779', 8.91)
   (293, 2, u'2012-07-13 00:00:00', u'Theodor-Heuss-Stra\xdfe 34', u'Stuttgart', None, u'Germany', u'70174', 0.99)
   (321, 36, u'2012-11-14 00:00:00', u'Tauentzienstra\xdfe 8', u'Berlin', None, u'Germany', u'10789', 0.99)
   (322, 37, u'2012-11-27 00:00:00', u'Berger Stra\xdfe 10', u'Frankfurt', None, u'Germany', u'60316', 1.98)
   (345, 37, u'2013-03-01 00:00:00', u'Berger Stra\xdfe 10', u'Frankfurt', None, u'Germany', u'60316', 3.96)
   (367, 37, u'2013-06-03 00:00:00', u'Berger Stra\xdfe 10', u'Frankfurt', None, u'Germany', u'60316', 5.94)

In [6]:
#Lesson 12: Problem Set Deeper into SQL
#8. Quiz: Local Query - JOIN MediaType And Track

##  Here's a playground to help you get a little more comfortable using DB API
##  Nothing here is graded, you've done a ton of work so far and I think 
##  it'd be great to relax and play a bit!

##  Connect to the Chinook database and try a few of your own ideas.
##  This is also a great place to try experiments building queries 
##  for the next few quizzes!

import sqlite3

# Fetch records from either chinook.db
db = sqlite3.connect("chinook.db")
c = db.cursor()
QUERY = '''SELECT count(*) FROM Track, MediaType, Genre 
            WHERE Track.MediaTypeId = MediaType.MediaTypeId 
            AND Track.GenreId = Genre.GenreId
            AND Genre.Name = 'Pop' AND MediaType.Name = 'MPEG audio file';'''
c.execute(QUERY)
rows = c.fetchall()

'''Uncomment to see your query in python'''
#print "Row data:"
#print rows

'''Uncomment to print your query by row'''
print "your output:"
for row in rows:
    print "  ", row[0:]

'''Uncomment to see your query as a pandas dataframe.
This is similar to the output you've been seeing throughout this course
You can learn more about pandas dataframes in our Intro to Data Analysis course!'''

#import pandas as pd    
#df = pd.DataFrame(rows)
#print df

db.close()

your output:
   (14,)

In [16]:
#Lesson 12: Problem Set Deeper into SQL
#9. Quiz: Local Query - Jazz track

##  Here's a playground to help you get a little more comfortable using DB API
##  Nothing here is graded, you've done a ton of work so far and I think 
##  it'd be great to relax and play a bit!

##  Connect to the Chinook database and try a few of your own ideas.
##  This is also a great place to try experiments building queries 
##  for the next few quizzes!

import sqlite3

# Fetch records from either chinook.db
db = sqlite3.connect("chinook.db")
c = db.cursor()
QUERY = '''SELECT DISTINCT Customer.FirstName FROM Customer, Invoice, InvoiceLine, Track, Genre
        WHERE Customer.CustomerId = Invoice.CustomerId 
        AND Invoice.InvoiceId = InvoiceLine.InvoiceId
        AND InvoiceLine.TrackId = Track.TrackId
        AND Track.GenreId = Genre.GenreId AND Genre.Name = 'Jazz';'''
c.execute(QUERY)
rows = c.fetchall()

'''Uncomment to see your query in python'''
#print "Row data:"
#print rows

'''Uncomment to print your query by row'''
#print "your output:"
#for row in rows:
#    print "  ", row[0:]

'''Uncomment to see your query as a pandas dataframe.
This is similar to the output you've been seeing throughout this course
You can learn more about pandas dataframes in our Intro to Data Analysis course!'''

import pandas as pd    
df = pd.DataFrame(rows)
print df
print '\n'
print len(df)

db.close()

            0
0        Mark
1        John
2       Frank
3        Jack
4         Tim
5   Dominique
6       Kathy
7   Stanisław
8        Phil
9    François
10  František
11        Dan
12      Manoj
13       Fynn
14     Astrid
15   Isabelle
16      Terhi
17       Hugh
18      Wyatt
19    Enrique
20       Puja
21     Niklas
22     Joakim
23      Aaron
24    Heather
25     Edward
26    Camille
27      Steve
28      Diego
29   Michelle
30   Madalena
31     Martha


32

In [50]:
#Lesson 12: Problem Set Deeper into SQL
#10. Quiz: Local Query - Below Average Song Lengths
#which genre has the most songs of below average song length

##  Here's a playground to help you get a little more comfortable using DB API
##  Nothing here is graded, you've done a ton of work so far and I think 
##  it'd be great to relax and play a bit!

##  Connect to the Chinook database and try a few of your own ideas.
##  This is also a great place to try experiments building queries 
##  for the next few quizzes!

import sqlite3

# Fetch records from either chinook.db
db = sqlite3.connect("chinook.db")
c = db.cursor()
#QUERY = '''SELECT AVG(Milliseconds) FROM Track;'''
QUERY = '''SELECT Genre.Name, COUNT(*) FROM Track, Genre 
        WHERE Track.Milliseconds < (SELECT AVG(Track.Milliseconds) FROM Track) 
        AND Track.GenreId = Genre.GenreId
        GROUP BY Genre.GenreId'''
c.execute(QUERY)
rows = c.fetchall()

'''Uncomment to see your query in python'''
#print "Row data:"
#print rows

'''Uncomment to print your query by row'''
#print "your output:"
#for row in rows:
#    print "  ", row[0:]

'''Uncomment to see your query as a pandas dataframe.
This is similar to the output you've been seeing throughout this course
You can learn more about pandas dataframes in our Intro to Data Analysis course!'''

import pandas as pd    
df = pd.DataFrame(rows)
print df

db.close()

                     0     1
0                 Rock  1162
1                 Jazz   116
2                Metal   300
3   Alternative & Punk   320
4        Rock And Roll    12
5                Blues    72
6                Latin   569
7               Reggae    58
8                  Pop    46
9           Soundtrack    43
10          Bossa Nova    14
11      Easy Listening    24
12         Heavy Metal    23
13            R&B/Soul    60
14   Electronica/Dance    28
15               World    28
16         Hip Hop/Rap    34
17               Drama     1
18         Alternative    38
19           Classical    60
20               Opera     1

In [51]:
##  Here's a playground to help you get a little more comfortable using DB API
##  Nothing here is graded, you've done a ton of work so far and I think 
##  it'd be great to relax and play a bit!

##  Connect to the Chinook database and try a few of your own ideas.
##  This is also a great place to try experiments building queries 
##  for the next few quizzes!

import sqlite3

# Fetch records from either chinook.db
db = sqlite3.connect("chinook.db")
c = db.cursor()
#QUERY = '''SELECT AVG(Milliseconds) FROM Track;'''
QUERY = '''SELECT Name FROM MediaType'''
c.execute(QUERY)
rows = c.fetchall()

'''Uncomment to see your query in python'''
#print "Row data:"
#print rows

'''Uncomment to print your query by row'''
#print "your output:"
#for row in rows:
#    print "  ", row[0:]

'''Uncomment to see your query as a pandas dataframe.
This is similar to the output you've been seeing throughout this course
You can learn more about pandas dataframes in our Intro to Data Analysis course!'''

import pandas as pd    
df = pd.DataFrame(rows)
print df

db.close()

                             0
0              MPEG audio file
1     Protected AAC audio file
2  Protected MPEG-4 video file
3     Purchased AAC audio file
4               AAC audio file